page-home {

}

.searchbar-md {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    min-height: 30em;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    perspective: 1000;
}

.item.item-block.item-md {
    width: 100%;
    box-sizing: border-box;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    perspective: 1000;
    text-align: center;
    color: white;
    background-color: #6CD981;
}

